/* @import url('./styles/_header.css'); */

* {
  box-sizing: border-box;
}

/* Set a background color */

body {
  font-family: Helvetica, arial, sans-serif;
  background: url(images/bg.jpg);
  background-size: cover;
}

img {
  width: 100%;
}

.nav_links {
  background-color: #A63634;
  color: white;
  text-align: center;
  padding: 10px;
}

.logo>row {
  border: 5px white;
}

.cards {
  background-color: white;
}

.sm_boards {
  display: inline-flex;
  background-color: white;
}